@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-outfit);
  --color-primary: #22c55e;
  --color-border: #d9e1e4;
  --color-text-black: #1e1e1e;
  --color-text-gray: #616161;
  --color-background: #f7f8f9;
  --color-text-gray-2: #1e1e1eb3;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-size: 16px !important;
    text-rendering: optimizeSpeed;
    overflow: auto;
  }
  img,
  svg {
    display: block;
    object-fit: cover;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

@utility shadow-custom {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
}

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
    color: var(--color-text-black);
    margin-bottom: 10px;
  }
  .subtitle {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    color: var(--color-text-gray);
    white-space: pre-wrap;
  }
  .line {
    position: absolute;
    width: 1px;
    background-size: 1px 5px;
    background-image: linear-gradient(
      180deg,
      #b2b2b2,
      #b2b2b2 2px,
      transparent 0,
      transparent 5px
    );
    background-repeat: repeat-y;
    top: 0;
    left: 20px;
    height: 100%;
    transform: translateX(-50%);
  }
  .line:after {
    content: "\30FB";
    line-height: 1;
    text-indent: 1px;
    display: inline-block;
    color: #b2b2b2;
    box-sizing: border-box;
    border: 1px solid #b2b2b2;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -9px;
    bottom: -10px;
    background-color: #fff;
    border-radius: 50%;
  }

  /* Animation for image */
  .animation-image {
    position: relative;
    overflow: hidden;
  }
  .animation-image img {
    transition: transform 0.3s ease-in-out;
  }
  .animation-image::before {
    position: absolute;
    content: "";
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 255, 255, 0)),
      to(rgba(255, 255, 255, 0.3))
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  .animation-image:hover::before {
    animation: shine 0.75s;
  }
  .animation-image:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  @keyframes shine {
    100% {
      left: 125%;
    }
  }

  /* Animation for Hero */
  #hero .img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    animation: fade 10s linear infinite;
    opacity: 0;
  }
  #hero .img:last-child {
    animation-delay: 5s;
  }
  @keyframes fade {
    0% {
      opacity: 0;
      transform: scale(1.3);
      z-index: 2;
    }
    15% {
      opacity: 1;
      z-index: 2;
    }
    49% {
      opacity: 1;
      z-index: 2;
    }
    50% {
      z-index: 1;
    }
    85% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(0.9);
    }
  }
}

#experience div > div > div > div {
  margin-top: -15px;
}
#experience svg {
  width: 32px !important;
  height: 32px !important;
}
